@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

$primary: #d9dfeb;
$secondary: #ffffff;

@import "../node_modules/bootstrap/scss/bootstrap";

$font-size-base: calc(15px + 0.390625vw);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Forum", cursive;
}

.countdown {
  height: 10vh;

  div:nth-child(1) {
    background-color: #aec8f1;
  }

  div:nth-child(2) {
    background-color: #9eb8e0;
  }

  div:nth-child(3) {
    background-color: #94abd0;
  }

  div:nth-child(4) {
    background-color: #8ba1c2;
  }

  div:nth-child(5) {
    background-color: #8598b6;
  }

  div:nth-child(6) {
    background-color: #8090aa;
  }
}
